IMAGE_TAG=latest
GATEWAY_HOST_PORT=18080
TZ=Asia/Macau

NACOS_SERVER_ADDR=106.12.183.54:8848
NACOS_NAMESPACE=09a6d4e7-6ba4-410c-9451-822410f9fbe6
NACOS_USERNAME=nacos
NACOS_PASSWORD=LawZhuo1002.

REDIS_HOST=106.12.183.54
REDIS_PORT=63500
REDIS_PASSWORD=LawZhuo1002.
REDIS_DATABASE=0
REDIS_TIMEOUT=5000ms

JAVA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0
